@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

main {
  margin-top: 3rem;
}

.trending-card {
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 5px;
}

.list-img {
  height: 300px;
  width: 200px;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.filter-bar {
  width: 3in;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 3rem;
}

.main-content {
  margin-left: 3in; /* Matches the sidebar width */
  padding: 20px;
}

.filter-btn {
  display: none;
  width: 100vw;
  position: fixed;
  background-color: #dc3545;
  border-bottom: 2px solid white;
}

.apply-filter-btn {
  display: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #dc3545;
  border: 2px solid white;
  color: white;
}

.book-details-btn {
  width: 300px;
}

@media (max-width: 768px) {
  .btn-group {
    display: flex;
    flex-direction: row;
  }

  .list-img {
    height: 200px;
    width: 100px;
  }

  .card-details {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  main {
    margin-top: 5rem;
  }

  .filter-bar {
    height: 100vh;
    width: 100%;
    z-index: 100;
    margin-top: 90px;
    position: fixed; /* Removes fixed position on small screens */
    padding: 15px;
    /* margin-top: 5rem; */
  }

  .main-content {
    margin-left: 0; /* Reset margin for full-width layout */
    margin-top: 10px; /* Optional spacing between filter bar and content */
    padding-top: 90px;
  }

  .filter-btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    z-index: 10;
  }

  .cart-container {
    flex-direction: row-reverse;
  }

  .details-container {
    flex-wrap: wrap;
  }

  .apply-filter-btn {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .filter-bar {
    display: block !important;
  }
}
